.article-card {
  .date-text {
    color: #999;
    font-size: 14px;
    padding: 6px 0px;
  }
  .chip {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
  }
}
.article-content {
  padding: 20px 0;
}
.card .card-action.article-comment {
  background: #eee;
  border-top: none;
  padding: 16px 12px;

  .collection {
    border: none;
  }
  .collection-item {
    background: transparent;
    padding-left: 12px;
  }
  .nickname {
    padding-left: 60px;
  }
  .comment-info {
    padding-left: 60px;
  }
  .comment-info > * {
    color: #999;
    font-size: 14px;
    margin-right: 12px;
    vertical-align: middle;
  
    &.span-icon > * {
      vertical-align: middle;
    }
  
    .material-icons {
      font-size: 14px;
      margin-right: 4px;
    }
  }
  .comment-content {
    padding: 12px 0;
  }
}
